/backend/backend/__pycache__
/backend/webapp/__pycache__
/backend/static
/backend/**/__pycache__
/env/**/__pycache__
/backend/*.log
/backend/*.xml
/backend/.cache/v/cache/lastfailed
/backend/*.html
storage
.cache
*.xml
media
